---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg" href="/images/CBDS_black_logo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Classic Ballroom Dance Studio</title>
		<!-- Netlify Identity: required so invite links (with #invite_token) show the "set password" flow -->
		<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>
		<slot />
		<!-- Invite flow: open widget when URL has #invite_token=... so user can set password; then redirect to /admin -->
		<script is:inline>
			(function() {
				var hash = window.location.hash || '';
				if (hash.indexOf('invite_token') !== -1 || hash.indexOf('recovery_token') !== -1) {
					window.addEventListener('load', function() {
						if (window.netlifyIdentity) {
							window.netlifyIdentity.on('init', function() {
								window.netlifyIdentity.open();
							});
							window.netlifyIdentity.on('login', function() {
								window.location.href = '/admin/';
							});
						}
					});
				}
			})();
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
